<div class="container">
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h1 class="main-title">
        <ul class="demo-3">
          <li>
            <figure>
              <img src="../../../assets/img/button.png" alt="">
              <figcaption>
                <h2>dbClick Me To Login</h2>
                <p>This is a stinky legend as the theme of the angular4 project.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
        <!--<span >Spirit</span>-->
      </h1>
    </div>
  </div>
</div>
