<div class="container">
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h1 class="main-title" (swipe)="showLogin()" (dblclick)="showLogin()" *ngIf="toLogin">
        <ul class="demo-3">
          <li>
            <figure>
              <img src="../../../assets/img/button.png" alt="" [@flyInOut]>
              <figcaption >
                <h2>dbClick or swipe To Login</h2>
                <p>This is a stinky legend as the theme of the angular4 project.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </h1>
      <app-login-form class="main-title" *ngIf="!toLogin" ></app-login-form>
    </div>


  </div>
</div>
