<div class="loginForm"
     fxLayout="column"
     fxLayoutAlign="center">
  <div fxFlex="50" class="black" [@flyInOut]>
    <h2>{{ 'Login' | translate }}</h2>
    <form (ngSubmit)="submit()" #loginForm="ngForm">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="{{'username' | translate}}" [(ngModel)]="user.name" name="name" required>
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="{{'password' | translate}}" type="password" [(ngModel)]="user.password" name="password" required>
      </md-input-container>
      <button md-raised-button class="background-primary-color" [disabled]="!loginForm.form.valid" type="submit">GOGOGOGOGOGOGO</button>
    </form>
  </div>
</div>

