<div class="loginForm"
     fxLayout="column"
     fxLayoutAlign="center" >
  <!--<div fxFlex="50"></div>-->
  <div fxFlex="50" class="black" [@flyInOut]>
    <h2>Login</h2>
    <md-input-container class="example-full-width" >
      <input mdInput placeholder="username">
    </md-input-container>
    <md-input-container class="example-full-width" >
      <input mdInput placeholder="password">
    </md-input-container>
    <button md-raised-button class="background-primary-color" >GOGOGOGOGOGOGO</button>
  </div>

</div>
