<div class="profile-card-wrap">
  <input id="check" type="checkbox" class="check"><label for="check" class="toggle"> + </label>
  <div class="content">
    <div class="title">@j_bleach</div>
    <p>{{'aboutme.synopsis'|translate}}<br/> <br/> {{'aboutme.motto'|translate}}</p>
  </div>
  <div class="link-info">
    <div class="social">
      <a class="link gh" href="https://github.com/jiwenjiang" target="_blank"><i class="icon icon-github"></i></a>
      <a class="link sf" href="https://segmentfault.com/u/_bleach" target="_blank"><i>sf</i></a>
      <a class="link qq" (click)="openDialog('qq')"><i class="icon icon-qq"></i></a>
      <a class="link wc" (click)="openDialog('wechat')"><i class="icon icon-weixin"></i></a>
    </div>
    <div class="photo"></div>
  </div>
</div>
