<div class="profile-card-wrap">
  <input id="check" type="checkbox" class="check"><label for="check" class="toggle"> + </label>
  <div class="content" data-text="Hi there !">
    <div class="title">@j_bleach</div>
    <p>I'm a web designer from France who love Polymer-project, HTML/CSS and dogs. <br/> <br/> Teaching is what I like, Learning is what I love.</p>
  </div>
  <div class="link-info">
    <div class="social">
      <a class="link gh" href="https://github.com/jiwenjiang" target="_blank"><i class="icon icon-github"></i></a>
      <a class="link sf" href="https://segmentfault.com/u/_bleach" target="_blank"><i>sf</i></a>
      <a class="link qq" href="https://plus.google.com/u/0/+IgorMarty" target="_blank"><i class="icon icon-qq"></i></a>
      <a class="link wc" href="https://codepen.io/IMarty/" target="_blank"><i class="icon icon-weixin"></i></a>
    </div>
    <div class="photo"></div>
  </div>
</div>
