<div class="profile-card-wrap">
  <input id="check" type="checkbox" class="check"><label for="check" class="toggle"> + </label>
  <div class="content" data-text="Hi there !">
    <div class="title">@j_bleach</div>
    <p>I'm a web designer from France who love Polymer-project, HTML/CSS and dogs. <br/> <br/> Teaching is what I like, Learning is what I love.</p>
  </div>
  <div class="link-info">
    <div class="social">
      <a class="link oc" href="https://openclassrooms.com/membres/igormarty" target="_blank"><i class="fa fa-graduation-cap"></i></a>
      <a class="link tw" href="https://twitter.com/igor_marty" target="_blank"><i class="fa fa-twitter"></i></a>
      <a class="link cp" href="https://codepen.io/IMarty/" target="_blank"><i class="fa fa-codepen"></i></a>
      <a class="link gh" href="https://github.com/IMarty" target="_blank"><i class="fa fa-github"></i></a>
      <a class="link li" href="https://fr.linkedin.com/in/igormarty" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a class="link gp" href="https://plus.google.com/u/0/+IgorMarty" target="_blank"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="photo"></div>
  </div>
</div>
