@bgcolor: rgba(0, 17, 27, 1);
@activeColor: rgb(0, 90, 171);

.stones-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.example-sidenav-content {
  height: 100%;
  font-size: 1.8em;
  background-color: rgba(173, 216, 230, 0.2);
  position: relative;
  background: url('../../assets/img/bgimg.jpg') no-repeat 50% 0 fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
}

.sidenav-container {
  height: 100%;
  padding-top: 2em;
  position: relative;
  display: block;
}

.example-sidenav {
  padding: 16px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 5px 18px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  .top {
    margin-top: 1.9em;
    background-color: @bgcolor;
  }
  md-list-item {
    background-color: @bgcolor;
    color: white;
    height: 2.8em;
    line-height: 2.8em;
    display: block;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: @activeColor;
    }
    a{
      width: 90%;
      font-size: .9em;
    }
  }
  ul {
    background-color: @bgcolor;
    height: 100%;
  }
  li {
    background-color: @bgcolor;
    color: white;
    height: 2.8em;
    line-height: 2.8em;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 1.6em;
    &:hover {
      background-color: @activeColor;
    }
  }

  .nav-active, .nav-active:hover {
    background-color: @activeColor;

  }

}

.ribbon {
  z-index: 11;
  background-color: #031D2E;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: fixed;
  right: -50px;
  bottom: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #ffffff;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

#stones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}








