<app-stones-top [sidenav]="sidenav"></app-stones-top>
<div class="ribbon">
  <a href="https://github.com/jiwenjiang/ng4-material2" target="_blank">Fork me on GitHub</a>
</div>
<md-sidenav-container class="stones-container">
  <md-sidenav #sidenav class="example-sidenav sideNavWidth">
    <ul class="top">
      <li class="nav-active" *ngFor="let v of menus;let i = index;" [class.nav-active]="i==curItem"
          (click)="changeNav(i)">{{v.text}}
      </li>
    </ul>
  </md-sidenav>
  <div class="example-sidenav-content">
    <div class="sidenav-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
