<app-stones-top [sidenav]="sidenav"></app-stones-top>
<div class="ribbon">
  <a href="https://github.com/jiwenjiang/ng4-material2" target="_blank">Fork me on GitHub</a>
</div>
<md-sidenav-container class="stones-container">
  <md-sidenav #sidenav class="example-sidenav" style="width: 50%">
    <ul class="top">
      <li>炉石卡组</li>
      <li>九大职业</li>
      <li>精彩视频</li>
    </ul>
  </md-sidenav>
  <div class="example-sidenav-content">
    <div class="sidenav-container">
      {{ 'working' | translate}}
    </div>
  </div>
</md-sidenav-container>
