<!--style="background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;"-->
<div class="example-2 card">
  <div class="wrapper" [ngStyle]="{'background-image':data.url}">
    <div class="header">
      <div class="date">
        <span class="day">{{data.date}}</span>
      </div>
      <ul class="menu-content">
        <li><a class="icon icon-share"></a></li>
        <li >
          <a class="icon hand" [ngStyle]="{'color': data.haslike?'red':'white'}" (click)="toggleLike(data)"
             [ngClass]="{'icon-like':!data.haslike,'icon-like_fill':data.haslike}">
            <span>{{data.like}}</span>
          </a>
        </li>
        <li><a class="icon hand" [class.icon-comment]="true" (click)="openDialog(data)"><span>{{data.comment}}</span></a></li>
      </ul>
    </div>
    <div class="data">
      <div class="content">
        <p class="title">{{data.name}}</p>
        <p class="text">{{data.desc}}</p>
        <div class="show">
          <div fxLayout="row" fxLayoutAlign="left" fxLayoutWrap>
            <i class="icon icon-role blue" fxFlex="33">{{data.role}}</i>
            <i class="icon icon-type red" fxFlex="38">{{data.type}}</i>
            <i class="icon icon-count yellow" fxFlex="25">{{data.count}}</i>
          </div>
        </div>
        <div class="btn">
          <span class="hand handHover">more</span>
        </div>
      </div>
    </div>
  </div>
</div>
