<div class="example-2 card" >
  <div class="wrapper" style="background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;">
    <div class="header">
      <div class="date">
        <span class="day">2017.10.03</span>
      </div>
      <ul class="menu-content">
        <li><a class="icon icon-share"></a></li>
        <li><a class="icon" [class.icon-like]="true"><span>18</span></a></li>
        <li><a class="icon" [class.icon-comment]="true"><span>3</span></a></li>
      </ul>
    </div>
    <div class="data">
      <div class="content">
        <p class="title">手牌术</p>
        <p class="text">The antsy bingers of Netflix will
          eagerly anticipate the digital release of the Survive
          soundtrack, out today.</p>
        <div class="show" >
          <div fxLayout="row" fxLayoutAlign="left" fxLayoutWrap>
            <i class="icon icon-role blue" fxFlex="33">shark</i>
            <i class="icon icon-type red" fxFlex="38">controll</i>
            <i class="icon icon-count yellow" fxFlex="25">6532</i>
          </div>
        </div>
        <div class="btn">
          <span class="hand handHover">more</span>
        </div>
      </div>
    </div>
  </div>
</div>
